extend ../layout/index

block content
    .limiter
      .container-table100
        .wrap-table100
          .table100.ver1.m-b-110
            .table100-head
              table
                thead
                  tr.row100.head
                    th.cell100.column1 Class name
                    th.cell100.column2 Type
                    th.cell100.column3 Hours
                    th.cell100.column4 Trainer
                    th.cell100.column5 Spots
            .table100-body.js-pscroll
              table
                tbody
                  tr.row100.body
                    td.cell100.column1 Like a butterfly
                    td.cell100.column2 Boxing
                    td.cell100.column3 9:00 AM - 11:00 AM
                    td.cell100.column4 Aaron Chapman
                    td.cell100.column5 10
                  tr.row100.body
                    td.cell100.column1 Mind & Body
                    td.cell100.column2 Yoga
                    td.cell100.column3 8:00 AM - 9:00 AM
                    td.cell100.column4 Adam Stewart
                    td.cell100.column5 15
                  tr.row100.body
                    td.cell100.column1 Crit Cardio
                    td.cell100.column2 Gym
                    td.cell100.column3 9:00 AM - 10:00 AM
                    td.cell100.column4 Aaron Chapman
                    td.cell100.column5 10
                  tr.row100.body
                    td.cell100.column1 Wheel Pose Full Posture
                    td.cell100.column2 Yoga
                    td.cell100.column3 7:00 AM - 8:30 AM
                    td.cell100.column4 Donna Wilson
                    td.cell100.column5 15
                  tr.row100.body
                    td.cell100.column1 Playful Dancer's Flow
                    td.cell100.column2 Yoga
                    td.cell100.column3 8:00 AM - 9:00 AM
                    td.cell100.column4 Donna Wilson
                    td.cell100.column5 10
                  tr.row100.body
                    td.cell100.column1 Zumba Dance
                    td.cell100.column2 Dance
                    td.cell100.column3 5:00 PM - 7:00 PM
                    td.cell100.column4 Donna Wilson
                    td.cell100.column5 20
                  tr.row100.body
                    td.cell100.column1 Cardio Blast
                    td.cell100.column2 Gym
                    td.cell100.column3 5:00 PM - 7:00 PM
                    td.cell100.column4 Randy Porter
                    td.cell100.column5 10
                  tr.row100.body
                    td.cell100.column1 Pilates Reformer
                    td.cell100.column2 Gym
                    td.cell100.column3 8:00 AM - 9:00 AM
                    td.cell100.column4 Randy Porter
                    td.cell100.column5 10
                  tr.row100.body
                    td.cell100.column1 Supple Spine and Shoulders
                    td.cell100.column2 Yoga
                    td.cell100.column3 6:30 AM - 8:00 AM
                    td.cell100.column4 Randy Porter
                    td.cell100.column5 15
                  tr.row100.body
                    td.cell100.column1 Yoga for Divas
                    td.cell100.column2 Yoga
                    td.cell100.column3 9:00 AM - 11:00 AM
                    td.cell100.column4 Donna Wilson
                    td.cell100.column5 20
                  tr.row100.body
                    td.cell100.column1 Virtual Cycle
                    td.cell100.column2 Gym
                    td.cell100.column3 8:00 AM - 9:00 AM
                    td.cell100.column4 Randy Porter
                    td.cell100.column5 20
                  tr.row100.body
                    td.cell100.column1 Mind & Body
                    td.cell100.column2 Yoga
                    td.cell100.column3 8:00 AM - 9:00 AM
                    td.cell100.column4 Adam Stewart
                    td.cell100.column5 15
                  tr.row100.body
                    td.cell100.column1 Crit Cardio
                    td.cell100.column2 Gym
                    td.cell100.column3 9:00 AM - 10:00 AM
                    td.cell100.column4 Aaron Chapman
                    td.cell100.column5 10
                  tr.row100.body
                    td.cell100.column1 Wheel Pose Full Posture
                    td.cell100.column2 Yoga
                    td.cell100.column3 7:00 AM - 8:30 AM
                    td.cell100.column4 Donna Wilson
                    td.cell100.column5 15
                  tr.row100.body
                    td.cell100.column1 Playful Dancer's Flow
                    td.cell100.column2 Yoga
                    td.cell100.column3 8:00 AM - 9:00 AM
                    td.cell100.column4 Donna Wilson
                    td.cell100.column5 10
                  tr.row100.body
                    td.cell100.column1 Zumba Dance
                    td.cell100.column2 Dance
                    td.cell100.column3 5:00 PM - 7:00 PM
                    td.cell100.column4 Donna Wilson
                    td.cell100.column5 20
                  tr.row100.body
                    td.cell100.column1 Cardio Blast
                    td.cell100.column2 Gym
                    td.cell100.column3 5:00 PM - 7:00 PM
                    td.cell100.column4 Randy Porter
                    td.cell100.column5 10
                  tr.row100.body
                    td.cell100.column1 Pilates Reformer
                    td.cell100.column2 Gym
                    td.cell100.column3 8:00 AM - 9:00 AM
                    td.cell100.column4 Randy Porter
                    td.cell100.column5 10
                  tr.row100.body
                    td.cell100.column1 Supple Spine and Shoulders
                    td.cell100.column2 Yoga
                    td.cell100.column3 6:30 AM - 8:00 AM
                    td.cell100.column4 Randy Porter
                    td.cell100.column5 15
                  tr.row100.body
                    td.cell100.column1 Yoga for Divas
                    td.cell100.column2 Yoga
                    td.cell100.column3 9:00 AM - 11:00 AM
                    td.cell100.column4 Donna Wilson
                    td.cell100.column5 20
                  tr.row100.body
                    td.cell100.column1 Virtual Cycle
                    td.cell100.column2 Gym
                    td.cell100.column3 8:00 AM - 9:00 AM
                    td.cell100.column4 Randy Porter
                    td.cell100.column5 20