nav.navbar
  .container-fluid
    h4.my-2 Gestion d'utilisateurs
    form.d-
    if home
      div
       a.mx-2.btn.btn-outline-info(href="#" data-bs-toggle="modal" data-bs-target="#usersModal" data-bs-whatever="@mdo") Nouveau user
       a.btn.btn-outline-info(href="#" data-bs-toggle="modal" data-bs-target="#departementModal" data-bs-whatever="@mdo") Nouveau departement
