nav.navbar
  .container-fluid
    h4.my-2 Gestion d'utilisateurs
    form.d-
    if home
      a.btn.btn-outline-info(href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo") Nouveau
